<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container pt-6">
  <%= render "shared/components/subtitle", subtitle: t("administrator.title"), search: false %>

  <div class="row">
    <div class="col-lg-3 mb-4">
      <%= render "admins/components/menu_buttons" %>
    </div>
    <div id="edit_user" class="col-lg-9">
      <%= content_tag(:div, id: 'sliders', class: "setting-view card") do %>
        <div class="card-body p-6">
          <div class="card-title text-primary">
            <div class="form-group">
              <%= render "shared/components/subtitle", subtitle: t("slider.form.create"), search: false %>
            </div>
          </div>
          <%= form_for :slider, url: admin_sliders_update_path, method: :post do |f|  %>
            <%= hidden_field_tag :setting, "account" %>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4 mb-4">
                  <%= f.label :title, t("slider.table.title"), class: "form-label" %>
                  <div class="input-icon">
                    <%= f.text_field :title, class: "form-control", placeholder: t("slider.table.title"), value: @slider['title'] %>
                  </div>
                </div>

                <div class="col-sm-4 mb-4">
                  <%= f.label :link, t("slider.table.link"), class: "form-label" %>
                  <div class="input-icon">
                    <%= f.text_field :link, class: "form-control", placeholder: t("slider.table.link"), value: @slider['link'] %>
                  </div>
                </div>

                <div class="col-sm-4 mb-4">
                  <%= f.label :status, t("slider.table.status"), class: "form-label" %>
                  <div class="input-icon">
                    <%= f.select :status, [["Yes", "1"], ["No", "0"]], {selected: @slider['status']}, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 mb-4">
                  <%= f.label :content, t("slider.table.content"), class: "form-label" %>
                  <div class="input-icon">
                    <%= f.text_area :content, class: "form-control", size: "70x5", 'data-provider': :summernote, placeholder: t("slider.table.content"), value: @slider['content'] %>
                  </div>
                </div>
              </div>

            <div class="card-footer pr-0">
              <%= link_to "Cancel", admin_sliders_index_path, class: "btn btn-danger float-right ml-2" %>
              <%= f.submit t("slider.button.edit"), class: "btn btn-primary float-right ml-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
