<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
  <head>
    <% if Rails.configuration.google_analytics %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="<%= google_analytics_url %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "<%= ENV["GOOGLE_ANALYTICS_TRACKING_ID"] %>");
      </script>
    <% end %>

    <title><%= yield(:page_title).present? ? yield(:page_title) : t("bigbluebutton") %></title>
    <meta property="og:title" content="<%= yield(:page_title).present? ? yield(:page_title) : t("bigbluebutton") %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= yield(:page_desc).present? ? yield(:page_desc) : t("landing.about", href: "Greenlight", locale: :en) %>" />
    <meta property="og:url" content="<%= request.base_url %>" />
    <meta property="og:image" content="<%= logo_image %>" />
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Global javascript variables and helpers. -->
    <script type="text/javascript">
      window.GreenLight = {};
      window.GreenLight.WEBSOCKET_HOST = "<%= ENV['WEBSOCKET_HOST'] %>"
      window.GreenLight.RELATIVE_ROOT = "<%= relative_root %>"
    </script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <!-- Primary color styling -->
    <%= stylesheet_link_tag themes_primary_path %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag 'custom' %>

    <% if current_page?(root_url) %>
      <!-- Homepage CSS -->
      <%= stylesheet_link_tag 'homepage' %>
    <% end %>

    <!-- Append Additional CSS -->
    <%= yield :stylesheets %>

    <script type="text/javascript">
      // Include the correct translated strings for Javascript
      window.I18n = <%= current_translations.to_json.html_safe %>
      window.I18nFallback = <%= fallback_translations.to_json.html_safe %>
    </script>

  </head>

  <body class="app-background" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-relative-root="<%= Rails.configuration.relative_url_root || "/" %>">
    <%= render "shared/header" %>
    
    <div class="wrapper">
      <%= content_tag :div, '', id: 'mycontainer', data: { waddress: $recive_user_waddress, wtype: $recive_user_wtype } %>
      <% if bigbluebutton_endpoint_default? %>
        <div class="alert alert-icon alert-danger text-center mb-0">
          <div class="flash alert d-inline">
            <i class="fas fa-exclamation-triangle"></i>
            <p class="d-inline"><%= t("test_install",
              href: link_to(t("docs").downcase, "http://docs.bigbluebutton.org/install/greenlight-v2.html#2-install-greenlight", target: "_blank", rel: "noopener")
            ).html_safe %>
          </div>
        </div>
      <% end %>

      <!-- The alert Modal for the transaction -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-center">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="modal-title">Transaction success!</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" id="modal-body">
              You can get VAIYO tokens after 180 days.
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>


          
      <!-- The Indacoin Modal -->
      <div class="modal fade" id="IndacoinModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-center">
          

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="modal-title">Transaction success!</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" id="modal-body">
              <iframe
                id="indacoin-widget"
                title="Onramper widget"
                frameborder="no"
                allow="accelerometer; autoplay; camera; gyroscope; payment;"
                src="https://indacoin.com/partner-widget/?partner=Vaiyo&apiKey=pk_test_XPQeinrc4PJsylYKh_9i6WY95ZE1s6uqEf9k9mQ7KUg0">
              </iframe>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

            

          </div>
        </div>
      </div>

      <% unless Rails.configuration.banner_message.blank? %>
        <div class="alert alert-icon alert-danger text-center mb-0">
          <div class="flash alert d-inline">
            <p class="d-inline"><%= Rails.configuration.banner_message %></p>
          </div>
        </div>
      <% end %>

      <%= render 'shared/flash_messages' unless flash.empty? %>

      <%= yield %>

      <section class="drawer" id="drawer-name" data-drawer-target>
        <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
        <div class="drawer__wrapper">
          <div class="drawer__header">
            <div class="drawer__title">
            </div>
            <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
          </div>
          <div class="container">
            <div class="w-header">
              <div class="dropdown">
                <div class="w-menu-button" data-toggle="dropdown">
                  <span class="material-icons">account_balance_wallet</span>
                  <div class="w-wallet-text">My Wallet</div>
                  <span class="material-icons">expand_more</span>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-item d-flex w-menu-item" id="w-menu-refresh"><span class="material-icons">autorenew</span><div class="ml-1">Refresh</div></div>
                  <!-- <div class="dropdown-divider"></div> -->
                </div>
              </div>
              <div>
                <div class="w-tooltip wallet-address" id="w-address-tooltip">
                  <div class="address" value="" id="wallet-address">                
                    <span class="tooltiptext" id="myTooltip">Copy</span>         
                    <div class="mywallet-text-gray" id="w-address"></div>   
                  </div>
                </div>
              </div>
            </div>
            <div class="mywallet-line"></div>
            <div class="mywallet-form p-3">
              <div class="d-flex px-5 mt-3">
                <p class="mywallet-text-dark">
                  Locked
                  <p class="mywallet-text-blue" id="resttime">(0 days)</p>
                </p>
                <div class="d-flex ml-auto">
                  <p class="mywallet-text-dark mr-3" id="v-locked">0.00 VAIYO</p>
                  <p class="mywallet-text-gray ml-auto" id="v-locked-amount">$0.00</p>
                </div>
              </div>
              <div class="d-flex px-5">
                <p class="mywallet-text-dark">
                  Unlocked
                  <a id="claim">(claim)</a>
                </p>
                <div class="d-flex ml-auto">
                  <p class="mywallet-text-dark mr-3" id="v-unlocked">0.00 VAIYO</p>
                  <p class="mywallet-text-gray ml-auto" id="v-unlocked-amount">$0.00</p>
                </div>
              </div>
              <div class="d-flex px-5">
                <p class="mywallet-text-dark">Total Balance</p>
                <div class="d-flex ml-auto">
                  <p class="mywallet-text-dark mr-3" id="v-total">0.00 VAIYO</p>
                  <p class="mywallet-text-gray ml-auto" id="v-total-amount">$0.00</p>
                </div>
              </div>
              <button class="mywallet-button btn btn-primary w-100 mb-3 btn-lg" id="addVAIYObtn">Add VAIYO</button>
              <button class="mywallet-button btn btn-outline-primary w-100 btn-lg" id="swapVAIYOBtn">Swap VAIYO</button>
            </div>
            <div class="mywallet-form p-3">
              <div class="d-flex px-5 mt-3">
                <p class="mywallet-text-dark">BUSD</p>
                <div class="d-flex ml-auto">
                  <p class="mywallet-text-dark mr-3" id="w-busd-balance">0.00</p> 
                  <p class="mywallet-text-gray ml-auto" id="w-busd-amount">$0.00</p>  
                </div>    
              </div>
              <div class="d-flex px-5">
                <p class="mywallet-text-dark">BNB</p>
                <div class="d-flex ml-auto">
                  <p class="mywallet-text-dark mr-3" id="w-bnb-balance">0.00</p> 
                  <p class="mywallet-text-gray ml-auto" id="w-bnb-amount">$0.00</p>  
                </div>        
              </div>
              <div class="d-flex px-5">
                <p class="mywallet-text-dark">Total Balance</p>
                <p class="mywallet-text-dark ml-auto" id="w-amount">$0.00</p>
              </div>
              <button class="mywallet-button btn btn-primary w-100 btn-lg" id="addFunsbtn">Add Funds</button>
            </div>
          </div>
        </div>
      </section>

    </div>

    <% if !current_page?(root_url) %>
      <%= render "shared/footer" %>
    <% end %>

    <!-- Append Additional JS -->
    <%= yield :scripts %>

  </body>
</html>
