<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="container">
  <div class="row pt-7">
    <div class="col col-lg-6 offset-lg-3 text-center">
        <div class="mt-5 mb-5" style="text-align:center">
          <h2 class="mx-auto d-block"><%= t("login_title") %></h2>
        </div>
        <div class="col-lg-6 mx-auto p-5 d-block">
          <%= image_tag(asset_url('metamask-alternative.png'), id:"certain-image", class:"wallet-image", alt:"") %>
        </div>
        <div class="m-5">
          <button type="button" value="Sign In" class="btn btn-primary btn-lg" onclick="signinWithWallet()">
            Sign In
          </button>
        </div>
        <div class="toggle-display-wallet-options m-5" onclick="togleOtherWallet()" data-toggle="collapse" data-target="#cards_landscape_wrap-2">
          <i class="material-icons" id="otherwallet">keyboard_arrow_right</i>
          <h4 class="mt-2">Use a different wallet</h4>
        </div>
      </div>
  </div>

  <!-- Topic Cards -->
  <div class="collapse" id="cards_landscape_wrap-2">
      <div class="container" id="demo" style="max-width:400px;">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-5">
                      <div class="card-flyer">
                          <div class="text-box" id="btn-metamask" onclick="setWallet('metamask')">
                              <div class="image-box">
                                  <%= image_tag(asset_url('metamask-alternative.png'), class:"btn-image", alt:"Card image") %>
                              </div>
                              <div class="text-container">
                                  <h6>Metamask</h6>
                                  
                              </div>
                          </div>
                      </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-5">
                      <div class="card-flyer">
                          <div class="text-box" id="btn-binance" onclick="setWallet('binance')">
                              <div class="image-box">
                                  <%= image_tag(asset_url('binance.png'), class:"btn-image", alt:"Card image") %>
                              </div>
                              <div class="text-container">                                    
                                  <h6>BinanceWallet</h6>
                              </div>
                          </div>
                      </div>
              </div>
              <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-5">
                      <div class="card-flyer">
                          <div class="text-box" onclick="setWallet('mathwallet')">
                              <div class="image-box">
                                  <%= image_tag(asset_url('mathwallet.png'), class:"btn-image", alt:"Card image") %>
                              </div>

                              <div class="text-container">
                                  <h6>MathWallet</h6>
                              </div>
                          </div>
                      </div>
              </div> -->
          </div>
      </div>
  </div>
</div>
